verb_conjugate_fr.egg-info/*
.audit/
build/
.cache
.coverage
coverage.xml
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info
*.egg
env/
ENV/
.idea/
lib/
lib64/
pip-log.txt
venv/
.tox/
.py*/
*-test_results.xml
*-testcov/
test/unit/__pycache__/
__pycache__/