verb_conjugate_fr.egg-info/*
.audit/
build/
.cache
.coverage
coverage.xml
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info
*.egg
env/
ENV/
.idea/
lib/
lib64/
pip-log.txt
venv/
.tox/
.py*/
py27-test_results.xml
py27-testcov/
py3-test_results.xml
py3-testcov/
test/unit/__pycache__/